<h1> @ViewBag.PDP</h1>

<form asp-action="Index">
    <label>Nhap Ho Ten:</label>
    <input type="text" name="FullName">
    <label>Nhap Tuoi:</label>
    <input type="number" name="Age">
     <label>Nhap Chieu Cao:</label>
    <input type="text" name="Hight">
   
    <input type="submit" value="Gui du lieu">
</form>